* {
    font-family: 'Lexend', sans-serif;
}

#main-container {
    border-radius: 20px;
    width: 700px;
    margin: auto;
    overflow: hidden;

}

.container {
    padding-top: 20px;
    background-color: rgba(179, 179, 179, 0.925);
}

.text-center {
    text-align: center;
}

.icon-grid {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
/* display flex */
}

.tessera {

    display: flex;
    justify-content: center;
    align-items: center;
}


#griglia>div {
    /* dimensioni e margini */
    background-color: #5c5c5cdc;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
}

.timer {
    padding: 10px 0;
}

.icon {
    font-size: 80px;
    text-align: center;
    visibility: visible !important;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: wait;
}

.show {
    /* agganciare animation-name rotazione carta */
    animation-duration: .5s;
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 10px;
    opacity: 1;
    animation: rotazione-carta linear 1s;
}

.find {
    /* agganciare animation-name indovinato */
    animation-duration: .5s;
    background-color: rgba(255, 0, 0, 0.56);
    border: 1px solid #ffffff;
    border-radius: 10px;
    animation: indovinato linear 1s;
}

.button {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #db0a0adc;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.button:hover {
    background-color: #6c1616;
    border: none;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
}

#modal.active {
    display: flex;
}

#modal h2 {
    margin-top: 20px;
}

@media (max-width: 600px) {
    #main-container {
        width: 400px;
    
    }
    #griglia>div {
        margin: 5px 5px;
        width: 70px;
        height: 70px;
    }
    .icon {
        font-size: 50px;
    }
}

@media (max-width: 420px) {
    #main-container {
        width: 230px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 40px;
        height: 40px;
    }
    .icon {
        font-size: 30px;
    }
}

@keyframes indovinato { /* animazione quando si indovina */
    from {
        transform: scale(10);
    }
    to {
        transform: scale(0);

    }
}

@keyframes rotazione-carta { /* animazione quando ruota la carta */
    from {
        transform: perspective(70px) rotate3D(0, 1, 0, 80deg);
    }
    50% {
        transform: perspective(70px) rotate3D(0, 1, 0, -10deg);

    }
    to {
        transform: perspective(70px);

    }
}